<div class="grid-x demo-grid-x">
  <div class="cell demo-grid-x-ligth">full width cell</div>
  <div class="cell demo-grid-x-dark">full width cell</div>
</div>

<div class="grid-x demo-grid-x">
  <div class="small-6 cell demo-grid-x-ligth">6 cells</div>
  <div class="small-6 cell demo-grid-x-dark">6 cells</div>
</div>

<div class="grid-x demo-grid-x">
    <div class="medium-6 large-4 cell demo-grid-x-ligth">12/6/4 cells</div>
  <div class="medium-6 large-8 cell demo-grid-x-dark">12/6/8 cells</div>
</div>
